.searchBar{
    display: flex;
flex-direction: row;
align-items: center;
gap: 16px;
position: absolute;
left: 321px;
top: 17px;
border-radius: 12px;
}
.searchInput{
    position: relative;
    width: 437px;
    height: 48px;
    background: #EDE6E6;
}
.searchIcon{
    position: absolute;
    right: 30px;

flex: none;
order: 1;
flex-grow: 0;
}
