*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
}
.Wrapper{
    position: absolute;
    top: 80px;
    left: 295px;
    width: 82vw;
    height: 84vh;
    border-radius: 24px;
    background-color: white;
}