*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
}
.Nav{
    background: #F9F6F4;
    display: flex;
    height: 100vh;
}
.sidebar-container{
    width: 350px;
}
.sidebar-content{
    display: flex;
    height: 100%;
    width: 90%;
}
.sidebar-logo{
    position: absolute;
    left: 30px;
    top: 15px;
    width: 133px;
    height: 58px;
    background: url(../../../assets/images/logo.png);
}
.package-li{
display: flex;
float: right;

}
.sidebar-package-li{
    padding: 15px 80px 15px 50px;
    border-radius: 8px;
}
.sidebar-ul{
position: absolute;
flex-direction: column;
margin: auto;
top: 120px;
left: 30px;
}
.sidebar-li a{
    line-height: 100%;
}
.sidebar-li{
align-items: center;
display: flex;
padding: 15px 86px 15px 24px;
gap: 12px;
border-radius: 8px;
color: #333;
}
.sidebar-li:hover, .sidebar-li Link, .sidebar-package-li:hover{
    background-color: #FFB800;
    color: #fff !important;
}
.top-nav{
    position: relative;
    width: 100%;
    height: 8vh;
}
.Nav-SearchBar{
position: relative;
align-items: center;
top: 17px;
max-height: 30px;
border-radius: 12px;
background-color: #EDEDED;
display: inline;
padding: .5em 1em .5em 2.5em;
}
.Nav-SearchInput a{
    position: absolute;
    text-align: right;
}
.Nav-SearchInput{
    font-size: 16px;
    background: #EDE6E6;
    color: #333;
    border: none;
    width: 340px;
    background: none;
   padding: 5px 8px;
}
.search-icon{
    font-size: 1.3rem;
}
.Nav-SearchBar a{
    color: #333;
    margin-left: 10px;
}
input:focus{
    outline: none;
}
.Nav-Notify{
position: absolute;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;
position: absolute;
right: 17px;
top: 17px;
}
.active{
    background-color: #FFB800;
    color: #fff !important ;
}
.Notify-Item{
    color: #333;
}
.Notify-profile img {
    border: 1px #d4d4d4 solid;
    padding: 2px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    max-width: 30px;
    height: auto;
}
