
.Nav a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    flex-grow: 0;
    text-decoration: none;
    display: inline-block;
}

.Nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 0;
    gap: 59px;
    position: relative;
    background-color:#F9F6F4;
    ;
}
.logo{
    position: relative;
    left: 20px;
    width: 133px;
    height: 58px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: url(../../assets/images/logo.png);
}
.frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.tag{
    display: flex;
    flex-direction: row;
    gap: 12px;
    border-radius: 8px;
    flex: none;
    order: 0;
    align-items: center;
    height: 50px;
    flex-grow: 0;
    padding: 0 15px 0 15px;
    
}
.tag:last-child{
border-radius: 8px;
position: relative;
left :30px;
}
#nav li:hover, #nav li:hover a{
    cursor: pointer;
    background-color: #FFB800;   
    color: white;
}

.icon-container{
opacity: 0.6;
flex: none;
order: 0;
flex-grow: 0;

}
.group{
flex: none;
order: 5;
flex-grow: 0;
}